<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <title>Summary of April 2011 Presentation</title>
  <link rel="stylesheet" href="/styles/houston.css" type="text/css" />
</head>
<body>

<div class="banner">
   <a href="http://www.pm.org/index.html"><img alt="Perl Mongers' Site"
       src="http://www.pm.org/graphics/title.png" height="65" width="150" /></a>
   <h1>Houston.pm</h1>
</div>
<div id="outer">
  <div id="navigation">

  <ul class="menu" id="mainmenu">
     <li><a href="/index.html">Home</a></li>
     <li><a href="/about.html">About Us</a></li>
     <li><a href="/meetings.html">Meetings</a></li>
     <li><a href="/faqs.html">FAQ</a></li>
     <li><a href="/talks/mostrecent.html">Most Recent Talk</a></li>
     <li><a href="/talks/index.html">Talks Archive</a></li>
     <li><a href="/projects/index.html">Group Projects</a></li>
  </ul>

  </div>

  <div class="content">
      <h2 class="subhead">Automated Browser Interaction Using WWW::Selenium</h2>

      <p>Gordon described how the <code>WWW::Selenium</code> module works as a client
for the Selenium application.  Selenium is a tool for testing web applications
by driving actual browsers, to test what really happens in the browser. This
allows testing web applications that rely on JavaScript and can properly test
how different browsers handle a given web site.</p>

      <p>Gordon walked the group through the major parts of the Selenium application
including:</p>

    <ul>
        <li>A Selenium client (like <code>WWW::Selenium</code>)</li>
        <li>SeleniumRC which drives the browser</li>
        <li>SeleniumIDE which can generate tests by recording browser interactions</li>
        <li>Selenium Grid which can drive parallel tests</li>
    </ul>

      <p>He also ran through a series of demonstrations to show how the process works.</p>

      <p>Gordon's presentation is available as a <a href="Selenium.pdf">PDF file</a> and
a <a href="Selenium.key">Keynote presentation<a/>. The <a
href="facebook_album_fetcher.t">various</a> <a href="google_maps.t">test</a> <a
href="wordpress.t">files</a> he used for the demonstrations are also available
here and at <a href="http://gordonchild.com/sel">his website</a>.</p>

      <p>We had 18 people attending this month. As always, we'd like to thank
        cPanel, Inc. for providing the meeting space and food for the group.</p>
  </div>

</div>
<div id="footer">
<p class="copyright">
<!-- Creative Commons License -->
<a rel="license" href="http://creativecommons.org/licenses/by/2.5/"><img alt="Creative Commons License" border="0" src="http://creativecommons.org/images/public/somerights20.gif" /></a>
Copyright &copy; 2011 Houston.pm.<br /> Except as otherwise noted, this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>.
<!-- /Creative Commons License -->


<!--

<rdf:RDF xmlns="http://web.resource.org/cc/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
   <license rdf:resource="http://creativecommons.org/licenses/by/2.5/" />
</Work>

<License rdf:about="http://creativecommons.org/licenses/by/2.5/">
   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
   <requires rdf:resource="http://web.resource.org/cc/Notice" />
   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
</License>

</rdf:RDF>
-->
</p>
<p>The use of the camel image in association with the Perl
language is a trademark of O'Reilly &amp; Associates, Inc. Used with permission.</p>
</div>
</body>
</html>
