<p>For the [% month %] Houston.pm meeting, [% presenter | html %] presents <em>[% title | html %]</em>.
[% IF sponsor.is_remote %]
The meeting begins on [% date %] at 6pm on [% sponsor.full_name | html %]. See http://houston.pm.org/announce_meeting.html
for connection details.
[% ELSE %]
The meeting begins on [% date %] at 6pm in the [% sponsor.familiar | html %] offices at [% sponsor.address | html %].
We gather in the lobby 30 minutes before.
[% END %]</p>
