<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <title>Houston Perl Mongers</title>
  <link rel="stylesheet" href="/styles/houston.css" type="text/css" />
</head>
<body>

<div class="banner">
   <a href="http://www.pm.org/index.html"><img alt="Perl Mongers' Site"
       src="http://www.pm.org/graphics/title.png" height="65" width="150" /></a>
   <h1>Houston.pm</h1>
</div>
<div id="outer">
  <div id="navigation">
[% INCLUDE main_menu.tt2 curr_page='index' %]

  <ul class="menu" id="externlinks">
     <li class="head">External Resources</li>
     <li><a href="http://padre.perlide.org/" title="perl editor">Perl IDE</a></li>
     <li><a href="http://blogs.perl.org/">Perl Blogs</a></li>
     <li><a href="http://ironman.enlightenedperl.org/">Planet Perl Iron Man</a></li>
     <li><a href="http://www.perl.com/pub/2000/01/10PerlMyths.html">Ten Perl
            Myths</a></li>
     <li><a href="http://www.perlmonks.org/">The Perl Monastery</a></li>
     <li><a href="http://www.cpan.org/">CPAN</a></li>
     <li><a href="http://www.perl.org/">The Perl Directory</a></li>
     <li><a href="http://www.perl.com/">Perl.com</a></li>
     <li class="head">News</li>
     <li><a href="http://perlbuzz.com/">Perl Buzz</a></li>
     <li><a href="http://perlbuzz.com/mechanix/">Mechanix</a></li>
     <li><a href="http://perlnews.org/">Perl News</a></li>
     <li><a href="http://perlsphere.net/">Perlsphere Aggregated Perl news</a></li>
     <li><a href="http://perlweekly.com/">Perl Weekly news</a></li>
     <li class="head">Tutorials</li>
     <li><a href="http://perl-tutorial.org/">A Collection</a></li>
     <li><a href="http://learn.perl.org/tutorials/">Perl tutorials</a></li>
     <li><a href="http://onyxneon.com/books/modern_perl/">Modern Perl Book</a></li>
     <li><a href="http://szabgab.com/perl_tutorial.html">Gabor Szabo Tutorial</a></li>
  </ul>
  </div>

  <div class="content">
  [%- content %]
  </div>

</div>
<div id="footer">
[% INCLUDE copyright.tt2 %]
<p>The use of the camel image in association with the Perl
language is a trademark of O'Reilly &amp; Associates, Inc. Used with permission.</p>
</div>
</body>
</html>
