  <talk num="[%yr%][%mon%]">
    <date>[%monthname%] [%year%]</date>
    <topic href="/talks/[%year%]talks/[%yr%][%mon%]Talk/index.html">
      <title>[%title%]</title>
      <presenter>[%author | xml%]</presenter>
      <abstract>[%abstract | xml%]</abstract>
    </topic>
    <attendees>[% attendees %]</attendees>
    [%- IF sponsor %]
    <sponsor>[% sponsor.full_name | xml %]</sponsor>
    [%- END %]
  </talk>
