  <talk num="[%yr%][%mon%]">
    <date>[%monthname%] [%year%]</date>
    <topic href="/talks/[%year%]talks/[%yr%][%mon%]Talk/index.html">
      <title>[%title%]</title>
      <presenter>[%author%]</presenter>
      <abstract>[%abstract%]</abstract>
    </topic>
  </talk>

