<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <title>Summary of [%monthname%] [%year%] Presentation</title>
  <link rel="stylesheet" href="/styles/houston.css" type="text/css" />
</head>
<body>

<div class="banner">
   <a href="http://www.pm.org/index.html"><img alt="Perl Mongers' Site"
       src="http://www.pm.org/graphics/title.png" height="65" width="150" /></a>
   <p>Houston.pm</p>
</div>
<div id="outer">
  <div id="navigation">
[% INCLUDE main_menu.tt2 %]
  </div>

  <div class="content">
      <h2 class="subhead">[%title%]</h2>

[% FOREACH p IN writeup -%]
      <p>[%p%]</p>

[% END -%]
      <p>We had [%attendees%] people attending this month. As always, we'd like to thank
        cPanel, Inc. for providing the meeting space and food for the group.</p>
  </div>

</div>
<div id="footer">
[% INCLUDE copyright.tt2 %]
<p>The use of the camel image in association with the Perl
language is a trademark of O'Reilly &amp; Associates, Inc. Used with permission.</p>
</div>
</body>
</html>
