body {
    margin:0px;
    padding:0px;
    font-family:arial, helvetica, sans-serif;
    background-color:white;
    color:black;
}

.banner
{
  background-color:#330099;
  color: silver;
  margin: 0.5em 0.5em 0 0.5em;
  padding: 0.5em;
  height: 69px;
}

.banner img {
    float: left;
    border: 2px solid white;
    background-color: white;
    margin-right: 2em;
}

.right { text-align: right;}

#footer 
{
  margin: 1em;
  font-size: smaller;
  font-style: italic;
  clear: both;
  border-top: 1px solid #330099;
} 

#footer p {
  margin: 0;
}

h1, .heading {
    margin: 0;
    padding: 0;
    font-size:x-large;
    font-weight:900;
    background-color:transparent;
}

.heading {
    color:#330099;
}

.banner h1 {
    margin: 0.25em 0 0 6.5em;
    font-size:xx-large;
}

h2, .subhead {
    margin: 0 0 1em 0;
    font-size: large;
    color: #000000;
    background-color:transparent;
    font-weight: normal;
    border-bottom:1px dashed black;
}

h3, .subsub {
    font-size: medium;
    color: #000000;
    background-color:transparent;
    font-weight: bold;
}


/*  Support for sidebar text in-line. */
#sidebar  {
    float:right;
    background-color:#eee;
    color:black;
    border-style:solid;
    border-width:1px;
    padding:0 0.5em 0.5em 0.5em;
    margin-left: 1em;
    width:15em;
    max-width:40%;
}
#sidebar .subhead, #sidebar .heading {
    font-size: large;
    margin-top: 0.5em;
    border-bottom:0;
}

#sidebar dd, #sidebar dt {
    font-size: smaller;
}

#sidebar dd {
    margin-left: 1em;
    margin-bottom: 0.5em;
}
#sidebar dd li {
    margin: 0;
    padding: 0;
}

#outer {
    width: 100%;
    margin: 0;
    padding: 1em 0 1em 0.5em;
    background-color: white;
}

#navigation {
    float:left;
    width: 12em;
    margin: 0 2em 2em 0;
    padding: 0.5em 0 0.5em 0;
    background-color:#99f;
    border: 1px solid blue;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
/*    margin: 1em 0 1em 0; */
}

.menu li a, .menu ul li a:visited {
    display: block;
    color: #309;
    background-color:#99f;
    text-decoration: none;
    margin: 0.2em;
    padding-left: 1em;
}

.menu li a:hover {
    color: #ccc;
}

.menu li {
    display: inline;
    margin: 0;
    padding: 0;
}

/*
.menu li.curr {
    list-style: none;
    margin: 0;
    padding-left: 0.5em;
    background-color: #333;
}

.menu li.curr a, .menu li.curr a:visited {
    padding-left: 0.5em;
}
*/

.menu .head {
    margin-left: 0.5em;
    color: #333;
}

#externlinks {
    margin-top: 2em;
}

.content {
    margin: 0 3em 0 15em;
    padding: 0;
}

.talk {
   margin: 1em 0 1em 0;
}

.talk .date {
   font-weight: bold;
}


.talk .abstract, .talk .topic, .talk .presenter, .talk .example, .talk .note {
   margin-left: 1em;
}

.talk .label {
   font-weight: bold;
   color: #333;
}

.talk .note {
   font-style: italic;
   font-size: smaller;
}

.talk .topic {
   margin-top: 0.5em;
}

.talk a {
   text-decoration: none;
}

.talk .abstract, .talk .example {
   margin-top: 0.5em;
}

.copyright img {
    float: left;
    margin: 0.2em 1em 0 0;
}

code {
    font-size: larger;
}

dd ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
